
@page {size: landscape;}

h1 {
    color: red;
    font-size: 28px;

}
p {
    font-size: 18px;
    line-height: 1.5;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: lightgray;
}
